<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happyheng.sport_android">


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">

        <!--百度云开发Key，可以将其替换成自己的，申请的具体方法可以参考  http://lbsyun.baidu.com/index.php?title=androidsdk/guide/key  -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="8c9AjQNNSK9YoNQKvvPOagxW03AQnvgd" />


        <service android:name=".service.LocationService" />


        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activity.MapActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activity.ActivityMain"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".activity.ArticleActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".activity.ActivitySportList"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".activity.ActivitySportMessage"
            android:screenOrientation="portrait">

        </activity>


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>


    </application>

</manifest>
